
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 80%;
    max-width: 1000px;
}


.gallery-item {
    background-color: cadetblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 3px solid black ;
}


.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}